@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,600,800);

html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
.intro{
	height: 100%;
	width: 100%;
	margin: auto;
	background-image: url('../img/cold-snow-landscape-water.jpg');
	display: table;
	top: 0;
	background-size: cover;
}
.intro2{
    height: 400px;
    margin: auto;
    position: relative;
    top: 0;
    background-image: url('../img/pexels-photo-66997.jpeg');
    background-position: center;
}
.intro .inner{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}
.content{
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
}
.content h1{
	font-family: 'Raleway', sans-serif;
	color: #F9F3F4;
	text-shadow: 0px 0px 300px #000;
	font-size: 300%; 
	font-weight: 700;
	text-align: center;
	padding: 2%;
	text-shadow: 0px 0px 250px #000;
}
/*--Nav--*/
nav {
	float: left;
	padding: 5% 5% 0 0;
	height: 50px;
}
nav ul {
	list-style: none;
	float: left;
}
nav ul li {
	font-family: 'Raleway', sans-serif;
	font-size: 120%;
}
nav ul li a {
	color: #FFF;
	text-decoration: none;
}
nav ul li a:hover {
	text-decoration: underline;
}
nav ul, nav:active ul {
	display: none;
	padding: 8px 0;
	left: 45px;
	top: 60px;
	width: 20%;
	z-index: 1000;
}
nav li {
	width: 100%;
	padding: 8px 0 10px 7px;
	margin: 0;
}
nav:hover ul {
	display: block;
	position: absolute;
}
#menu-icon {
	width: 30px;
	height: 26px;
	background: url(/img/nav-icon.png) center;
	display: inline-block;
	margin: 50px 0 0 50px;
}

/*--Nav End--*/
.btn{
	border-radius: 9px;
	font-family: 'Oswald', sans-serif;
	color: #F9F3F4;
	font-size: 135%;
	padding: 10px 20px;
	border: solid #F9F3F4 3px;
	text-transform: uppercase;
	text-decoration: none;
}
.btn:hover {
	color: #08004b;
	border: solid #08004b 3px;
}
p{
	font-size: 160%;
	text-align: justify;
	margin: 3%;
	font-family: sans-serif;
}
@media screen and (max-width: 768px){
	.content h1{
		font-size: 250%;
	}
	.btn{
		font-size: 110%;
		padding: 7px 15px;
	}
	p{
		font-size: 100%;
		line-height: 160%;
	}
	 .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
  .social i {
		font-size: 170%;
	}
}

/*----------------Дополнительно-------------------*/
.pimg1, .pimg2, .pimg3{
  position:relative;
  opacity:0.70;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.pimg1{
  /*background-image:url('cold-snow-landscape-water.jpg');*/
  min-height:100%;
}
.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}
.ptext .border{
  background-color: #036A81;
  color:#fff;
  padding:20px;
}
.section{
  text-align:center;
  padding:50px 80px;
}
.section-light{
  background-color:#f4f4f4;
  color:#666;
}
/*--------------------------КОНЕЦ------------------------*/
/*------------------SNS-------------------------------*/
.social {
	list-style-type: none;
	text-align: center;
}
.social li {
	display: inline;
}
.social i {
	font-size: 270%;
	margin: 1% 5% 7% 4%;
	color: #2C2C2C;
}
.social i:hover {
	color: #606060;
}
footer.second {
	background-color: #a8c2ff;
}
footer.second p {
	color: #FFF;
	text-align: center;
	padding: 3%;
	margin: 0;
}
/*--------------------Reg-------------------------*/

.bg{
	background-image: url('/img/pexels-photo-66997.jpeg');
	width: 100%;
	height: 100%;
}
.form-container{
	border: 0px solid #fff;
	padding: 50px 60px;
	margin-top: 20vh;
	-webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
	box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
}
/*-----------------------------------------------------*/
/*----------------------GALLERY---------------------------------*/
.snip1246 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  color: #000000;
  text-align: left;
  font-size: 16px;
  -webkit-perspective: 50em;
  perspective: 50em;
}
.snip1246 * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.snip1246 img {
  max-width: 100%;
  vertical-align: top;
}
.snip1246 figcaption {
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  padding: 20px;
  position: absolute;
  opacity: 0;
  z-index: 1;
  -webkit-transform: translateY(40px);
  transform: translateY(40px);
}
.snip1246 h2,
.snip1246 p {
  margin: 0 0 5px;
}
.snip1246 h2 {
  font-weight: 600;
}
.snip1246 p {
  font-size: 0.8em;
}
.snip1246 .price {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 20px;
  padding: 0.2em 0em;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.5em;
}
.snip1246 .add-to-cart {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 20px;
  padding: 0.2em 0.5em;
  border: 2px solid #000000;
  padding: 0.5em 1em;
  font-size: 0.8em;
  text-decoration: none;
  color: #000000;
  font-weight: 600;
}
.snip1246 .add-to-cart:hover {
  background-color: #000000;
  color: #ffffff;
}
.snip1246:after {
  background-color: #ffffff;
  position: absolute;
  content: "";
  display: block;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0;
}
.snip1246:hover figcaption,
.snip1246.hover figcaption {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.snip1246:hover:after,
.snip1246.hover:after {
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  opacity: 0.9;
}
/*----------------------END---------------------------------*/
.sort{
    margin: 20px 0px 0px 20px;
    
}
.sort span{
    color:aquamarine;
    text-decoration: underline;
    cursor: pointer;
}
#fon{
    display: none;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: white;
}
#load {
    background-image: url('/img/load.gif');
    position: fixed;
    left: 40%;
    top: 50%;
    width: 65px;
    height: 65px;
    z-index: 150;
   display: none;
}